body {
  font-family: Consolas, "Courier New", monospace;
  margin: 0;
  padding: 0;
  background: #323232;
  color: #e5e5e5;
}

header {
  background: #191919;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #e5e5e5;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.art-item img {
  width: 100%;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

form input, form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #e1c699;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

